<link rel="stylesheet" type="text/css" href="lib/ngQuickDate/ng-quick-date-plus-default-theme.css" media="all" />
<style type="text/css">
  form.ng-dirty .ng-invalid .quickdate-button {
    border: solid 1px red;
  }
</style>
<div class="modal-header">
    <h3>Gara!</h3>
</div>
<form ng-submit="submit()" role="form">
  <div class="modal-body">
    <div class="form-group">
      <label for="when">Data e ora</label><br/>
      <quick-datepicker ng-model='race.when' id='when' required></quick-datepicker><br/>
    </div>
    <div class="form-group">
      <label for="where">Dove</label>
      <input type="text" id="where" class="form-control" ng-model="race.where" />
    </div>
    <div class="form-group col-lg-4">
      <label for="whelengthre">Distanza 1, Km</label>
      <input type="text" id="length" class="form-control" ng-model="race.length" />
    </div>
    <div class="form-group col-lg-4">
      <label for="length2">Distanza 2, Km</label>
      <input type="text" id="length2" class="form-control" ng-model="race.length2" />
    </div>
    <div class="form-group col-lg-4">
      <label for="length3">Distanza 3, Km</label>
      <input type="text" id="length3" class="form-control" ng-model="race.length3" />
    </div>
    <div class="form-group">
      <label for="organizer">Organizzatore</label>
      <input type="text" id="organizer" class="form-control" ng-model="race.organizer" />
    </div>
    <div class="form-group">
      <label for="web">Sito web</label>
      <input type="text" id="web" class="form-control" ng-model="race.web" />
    </div>
    <div class="form-group">
      <label for="type">Tipologia</label>
      <input type="text" id="type" class="form-control" ng-model="race.type" />
    </div>    
  </div>
  <div class="modal-footer">
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      <input type="submit" class="btn primary-btn" value="Submit" />
  </div>
</form>

